html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/bg_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    height: 58px;
    margin: 0 auto;
}

/* PAGE HEADER */

.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 54px;
}

.site-title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding-left: 79px;
}

.site-title:hover {
    color: #01813F;

}

.nav-icon {
    display: flex;
}

path:hover {
    fill: #01813F;
}

.icon_svg:hover path {
    fill: #01813F;
}

.nav-icon div {
    padding-right: 25px;

}

.nav-icon-link {
    display: flex;
}

.sing-up-form {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin-right: 79px;
}

.sing-up-form a {
    color: #fff;
}

.welcome {
    margin-right: 3px;
}

.sing-up-form:before {
    content: '';
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    margin-right: 27px;
}

.hover-log-in:hover {
    color: #01813F;
}

.sing-up-hover:hover {
    color: #01813F;

}

/* PAGE MAIN */

.form-example {
    width: 444px;
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: 0 auto;
}

.form-container {
    width: 322px;
    margin: 0 auto;
}

.form-example::before {
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 144px;
}

.form-title {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    margin-bottom: 15px;
}

.title-text {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #434343;
}

.title-span {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #3cb878;
}

.title-span:hover {
    text-decoration: underline;
    color: #01813F;
}

/* BTN */

.btn-container {
    display: flex;
    justify-content: space-between;
}

.main-btn {
    width: 158px;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 4px 18px 0px #00000085;
    margin-bottom: 31px;
}

.btn-left {
    background-color: #305DB8;
}

.btn-left:hover {
    background-color: #022263;
}

.btn-right {
    background-color: #DF4A32;
}

.btn-right:hover {
    background-color: #AB1F09;
}

.btn-link {
    display: flex;
    align-items: center;
    position: relative;
}

.btn-text {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    padding: 17px 0 17px 38px;
}

.btn-left .btn-text::before {
    content: '';
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    position: absolute;
    top: 10px;
    left: 42.77px;
    opacity: 0.1;
}

.face-icon {
    padding-left: 10.77px;
}

.btn-right .btn-text::before {
    content: '';
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    position: absolute;
    top: 10px;
    left: 43px;
    opacity: 0.1;

}

.google-icon {
    width: 30px;
    height: 19px;
    padding-left: 6px;
}

/* LINE */

.or-line {
    position: relative;
    text-align: center;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #848484;
}

.or-line::before {
    content: '';
    width: 145px;
    height: 1px;
    background-color: #2f2f2f2f;
    position: absolute;
    left: 0px;
    top: 7px;
}

.or-line::after {
    content: '';
    width: 145px;
    height: 1px;
    background-color: #2f2f2f2f;
    position: absolute;
    right: 0px;
    top: 7px;
}

/* FIELDS */

.field {
    width: 299px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    margin-bottom: 15px;
}

.field {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #434343;
    padding-left: 19px;
}

.field::placeholder {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #bebebe;
}

.field:last-child {
    margin-bottom: 12px;
}

/* CHECKBOX */

.check-box-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;

}

.check-box {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.check-box:hover {
    width: 14px;
    height: 14px;
    padding: 2px 2px 2px 2px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    background-image: url(../img/icon/Vector-hov.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.input-text {
    display: inline;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #434343;
}

.input-span {
    color: #3cb878;
    cursor: pointer;
}

.input-span:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

/* BUTTON FOOTER */

.create-btn {
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    margin-bottom: 38px;
}

.create-btn:hover {
    background-color: #01813F;
}

.creat-link {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 16px 99px;
}