html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* PAGE-HEADER */

.page-nav {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
}

.site-name {
    display: flex;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
}

.header-logo {
    padding: 22px 27px 21px 27px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item a {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 28px 35px 26px 0;
}

.nav-item a:hover {
    color: #14b9d5;
}

.header-serch {
    padding: 27px 25px 26px 26px;
    background-color: #000000;
    cursor: pointer;
}

/* BANNER */

.slider h2 {
    font-size: 27px;
    line-height: 36.77px;
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 164px;
    margin-bottom: 44px;
    text-align: center;

}

.slider-btn {
    display: flex;
    justify-content: center;
}

.btn {
    display: block;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    align-items: center;
    margin-right: 20px;

}

.btn-left {
    background-color: #89ca62;
    padding: 16px 19px 17px 19px;
}

.btn-right {
    background-color: #14b9d5;
    padding: 16px 29px 17px 30px;
}

.header-bg {
    width: 100%;
    height: 369px;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/header-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 165%;
}

/* PAGE-MAIN */

.popular-title {
    font-size: 27px;
    line-height: 37px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18b4cf;
    padding: 49px 0 52px 0;
    text-align: center;
}

.most-popular-posts {
    background-color: #f2f2f2;
}

.popular-list {
    max-height: 950px;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    padding-bottom: 72px;

}

.popular-list-item {
    background-color: #ffffff;
    width: 370px;
}

.popular-list-name {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color: #353a3d;
    text-align: center;
    padding: 21px 0 23px 0
}

/* BANNER */

.popular-clients {
    width: 100%;
    height: 588px;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../img/parallax-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    margin-bottom: 49px;
}

.popular-client-title {
    font-size: 32px;
    line-height: 43.58px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding-top: 106px;
    margin-bottom: 87px;
}

.popular-client-title:after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background: #18B4CF;
    margin: 0 auto;
    margin-top: 87px;
}

.brand-name {
    display: grid;
    width: 881px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

/* TOP RATE */

.top-rated-title {
    font-size: 27px;
    line-height: 36.77px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18b4cf;
    margin-bottom: 52px;
    text-align: center;
}

.top-rated-items {
    display: grid;
    max-width: 1900px;
    grid-template-columns: repeat(7, 1fr);
    margin: 0 auto;
    margin-bottom: 48px;
}

.top-rated-items img {
    width: 100%;
}

/* HOW NEWS */

.hot-news-title {
    font-size: 27px;
    line-height: 36.77px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18b4cf;
    text-align: center;
    margin-bottom: 51px;
}

.hot-news-list {
    display: grid;
    grid-template-columns: repeat(4, [col] auto);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    row-gap: 44px;
    column-gap: 40px;
    margin-bottom: 71px;
}

.hot-grid-2,
.hot-grid-3 {
    grid-column: col 1 / col 3;
}


.hot-grid-4 {
    grid-column: col 1 / col 2;
}

.hot-grid-5 {
    grid-column: col 4 / col 5;
}

.hot-grid-6,
.hot-grid-7 {
    grid-column: col 3 / col 5;

}

.hot-grid-8 {
    grid-column: col 2 / col 5;
}

.hot-grid-1 {
    grid-column: col 1 / col 4;
}


.hot-news-item {
    display: flex;
    flex-direction: column;
}

.hot-news-item:first-child {
    flex-direction: row;
}

.hot-news-item:last-child {
    flex-direction: row;
}

.hot-news-name {
    font-size: 18px;
    line-height: 24.51px;
    font-weight: 700;
    color: #353a3d;
    text-align: right;
}

.hot-news-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #3b6469;
    text-align: right;
}

.hot-content-center,
.hot-content,
hot-news-name {
    text-align: right;
}

.hot-content-title {
    padding: 14px 27px 14px;
}

.hot-content-center .hot-news-name {
    padding: 41px 24px 14.5px;
}


.hot-content-center .hot-news-text {
    padding: 0 24px 40.5px 0;
}

.hot-content-middle .hot-news-name {
    padding: 14px 27px 15px 0;
}

.hot-content-middle .hot-news-text {
    padding-right: 14px;
}


.hot-content-center,
.hot-content-middle,
.hot-content-title {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);

}



/* PAGE FOOTER */

.page-footer {
    background: #000000;
}

.copyright {
    display: inline-block;
    text-align: left;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    color: #ffffff;
    padding: 20px 559px 30px 0;
}

.footer-logo {
    display: inline-block;
    padding: 29px 0 27px 0;
}