html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    width: 620px;
    margin: 0 auto;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.site-nav a {
    display: inline-block;
    color: #FF0000;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

.banner {
    margin: 0 auto;
    width: 1280px;
    height: 789px;
    background-image: url(../img/getstart.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 1145px;
    margin: 0 auto;
    padding: 48px 67px 42px;
    margin-bottom: 40px;
}

.main-title {
    text-align: center;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.text {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 2.4px;
    margin-bottom: 66px;
}

.text:not(:last-child) {
    margin-bottom: 28px;
}

.button {
    display: flex;
    justify-content: center;
}

.start-button {
    margin: 0;
    padding: 18px 43.5px 17px 42.5px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    background: #FF0000;
}

footer {
    width: 1070px;
    margin: 0 auto;
    margin-bottom: 29px;
}

.text-footer {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    font-weight: 700;
}