html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
}

.container {
    width: 1030px;
    margin: 0 auto;

}

a {
    display: block;
    text-decoration: none;
}

/* PAGE HEADER */
.pg-header {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    margin-bottom: 17px;
}

.logo-title {
    display: flex;
    align-items: center;
}


.logo-title {
    font-size: 29px;
    line-height: 29px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.logo-container-img {
    padding-right: 10px;
}

.milano-name span {
    display: block;
    font-size: 18px;
    line-height: 18px;
    padding-top: 6px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts a:hover {
    color: #f26522;
}

.contacts a {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-align: right;
}

.logo-title:hover {
    background-image: url(../img/logo/logo-2.png);
    background-repeat: no-repeat;
    color: #f26522;
    background-position-y: center;
}


.logo-title:hover .logo-container-img {
    visibility: hidden;
}




/* PAGE MAIN */

.main-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 37px 63px;
    margin-bottom: 49px;
}

.milano-container {
    width: 300px;
    height: 220px;
}

.img1 {
    background-image: url(../img/main_img/image-5.png);
    position: relative;
}

.img2 {
    background-image: url(../img/main_img/image-4.png);
    position: relative;

}

.img3 {
    background-image: url(../img/main_img/image-3.png);
    position: relative;

}

.img4 {
    background-image: url(../img/main_img/image-2.png);
    position: relative;

}

.img5 {
    background-image: url(../img/main_img/image-1.png);
    position: relative;

}

.img6 {
    background-image: url(../img/main_img/image.png);
    position: relative;

}


.milano-container-title {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.more-container {
    position: absolute;
    width: 298px;
    height: 55px;
    top: 165px;
    left: 2px;
    background-color: #f26522;
    visibility: hidden;
}

.link-item:hover>.milano-container-title {
    color: #f26522;
    transition: 1s;
}

.link-item:hover .more-container {
    visibility: visible;
}

.from {
    display: block;
    padding: 7px 0 8px 16px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #ffffff;
}

.price {
    padding-left: 16px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
}

.details {
    padding-left: 128px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #ffffff;
}

.details::after {
    content: ' \003E ';
    padding-left: 16px;
}



/* PAGE FOOTER */

.footer-copyright {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: #ffffff;
}