html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Star Jedi'sans-serif;
    src: url(../fonts/Star_Jedi.ttf);
}

html,
body {
    margin: 0;
    width: 100%;
}

body {
    background-image: url(../img/bg_night_sky.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Star Jedi", sans-serif;
    font-weight: 700;
    letter-spacing: 2.5px;
}

/* HEAD */

.intro {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffd54e;
    font-size: 200%;
    animation: intro 30s ease-out infinite;
}

.intro span {
    display: block;
    padding-top: 25px;
}

.logo {
    background-image: url(../img/star_wars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0;
    position: absolute;
    width: 50%;
    left: 50%;
    height: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: logo 30s ease-out infinite;
}

/* TEXT */

.content {
    position: absolute;
    width: 60%;
    margin: 0 20% 0 20%;
    height: 100%;
    font-size: 250%;
    text-align: justify;
    color: #ffd54e;
    transform: perspective(200px) rotateX(30deg);
}

.content div {
    position: absolute;
    top: 100%;
    animation: content 30s linear infinite;

}


/* ANIMATION */


@keyframes intro {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    1.5% {
        opacity: 1;
    }

    5.5% {
        opacity: 1;
    }

    6% {
        opacity: 0;
    }
}

@keyframes logo {
    9% {
        transform: translateX(-50%) translateY(-50%) scale(2);
        opacity: 0;
    }

    9.1% {
        opacity: 1;
    }

    14% {
        opacity: 1;
    }

    18% {
        transform: translateX(-50%) translateY(-50%) scale(0.1);
        opacity: 0;
    }
}

@keyframes content {
    0% {
        top: 100%;
        opacity: 0;
    }

    7% {
        top: 100%;
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        top: -250%;
        opacity: 0;
    }
}