html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    display: block;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/*PAGE HEADER */

.site-name {
    width: fit-content;
    color: #000000;
    font-size: 80px;
    line-height: 94px;
    font-weight: normal;
    text-decoration: none;
    padding-top: 63px;
    margin-bottom: 38px;
}

.site-name span {
    color: #4acbff;
}

.menu-top {
    margin-bottom: 48px;
    background: #35444f;
}

.menu-top-list {
    display: flex;
    justify-content: center;
}

.menu-top-item a {
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 26px 40px 19px 40px;
}

.menu-top-item {
    border-left: 1px solid #ffffff;
}

.menu-top-item:last-child {
    border-right: 1px solid #ffffff;
}

.menu-top-item:hover {
    background: #222f3a;
}

/* PAGE MAIN */


.page-main {
    display: flex;
    justify-content: space-between;
}

.menu-left-list {
    width: 344px;
    border: 1px solid #000000;
}

.menu-left-item a {
    font-size: 27px;
    line-height: 27px;
    font-weight: normal;
    text-decoration: none;
    color: #495863;
    padding: 26px 0 26px 44px;
}

.menu-left-item:hover {
    padding-left: 25px;
    background: #DBDBDB;
}

.main-content {
    width: 885px;
}

.ramda-img {
    border: 1px solid #000000;
    margin-bottom: 37px;
}

.ramda-img img {
    padding: 75px 268px 73px 297px;
}

.text {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #2c2c2c;
    padding-bottom: 34px;
}

.text:last-child {
    padding-bottom: 54px;
}

/* BOTTOM */

.page-footer {
    display: flex;
    justify-content: space-between;
    background: #63696E7A;
}

.menu-bottom-list {
    display: flex;
}

.menu-bottom-item a {
    font-size: 27px;
    line-height: 27px;
    font-weight: normal;
    text-decoration: none;
    color: #0c1927;
    align-items: center;
    padding: 20px 0 21px 40px;
}

.menu-bottom-item a:hover {
    color: #2d82a7;
    text-decoration: underline;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    color: #010101;
    padding-top: 20px;
    padding-right: 40px;
}